:root{
  --medida-oferta:280px;

}

@media (min-width: 480px) {
  .imagenPrincipal{
    margin-bottom: 30px;
    background-color: rgb(231, 231, 231);
  }

  .imagenPrincipal img{
    width: 200px;
    height: 300px;
  }

  .imagenesSecundarias img{
    width: 70px;
    height: 80px;
  }
  .botones{
    margin: 20px 0px;
  }

  .oferta{
    width: var(--medida-oferta);
    font-size: 1em;
  }
  .precioOferta{
    font-size: 1.2em;
  }

  .boton1{
    width: 90px;
    height: 50px;
  }
  .boton2{
    width: 160px;
    height: 50px;
  }
  .boton3{
    width: 100px;
    height: 50px;
  }

}

@media (min-width: 640px) {

  .imagenPrincipal{
    margin-bottom: 30px;
  }

  .imagenPrincipal img{
    width: 300px;
    height: 400px;
  }

  .imagenesSecundarias img{
    width: 90px;
    height: 120px;
  }

  .oferta{
    width: var(--medida-oferta);
    font-size: 1.2em;
  }
  .precioOferta{
    font-size: 1.4em;
  }

  footer{
    flex-wrap: nowrap;
    font-size: 1em;
    height: auto;
  }

  .boton1{
    width: 100px;
    height: 50px;
  }
  .boton2{
    width: 170px;
    height: 50px;
  }
  .boton3{
    width: 100px;
    height: 50px;
  }
}

@media (min-width: 800px) {
  .nombreProducto{
    font-size: 50px;
  }

  .imagenPrincipal{
    margin-bottom: 30px;
  }

  .imagenPrincipal img{
    width: 400px;
    height: 500px;
  }

  .imagenesSecundarias img{
    width: 120px;
    height: 150px;
  }

  .datos{
    font-size: 30px;
    font-size: 1.2em;
  }

  .oferta{
    width: var(--medida-oferta);
    font-size: 1em;
  }
  .precioOferta{
    font-size: 1.4em;
  }

  footer{
    height: auto;
    font-size: 1.2em;
  }

  .boton1{
    width: 120px;
    height: 70px;
    font-size: 1.2em;
  }
  .boton2{
    width: 190px;
    height: 70px;
    font-size: 1.2em;
  }
  .boton3{
    width: 120px;
    height: 70px;
    font-size: 1.2em;
  }

}

@media (min-width: 1024px) {
  .productoCompleto {
    display: grid;
    grid-template-areas: 
    "fp d"
    "fp d"
    "fc bt"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
  }



  .imagenPrincipal img{
    width: 200px;
    height: 300px;
  }

  .imagenesSecundarias img{
    width: 100px;
    height: 150px;
  }

  .datos{
    font-size: 30px;
    font-size: 1em;
  }

  .oferta{
    width: var(--medida-oferta);
    font-size: 1.2em;
  }
  .precioOferta{
    font-size: 2em;
  }


  footer{
    height: auto;
    font-size: 1.2em;
  }

  .botones{
    margin: 50px 10px ;
  }

  .boton1{
    width: 100px;
    height: 50px;
    font-size: 1em;
  }
  .boton2{
    width: 160px;
    height: 50px;
    font-size: 1em;
  }
  .boton3{
    width: 100px;
    height: 50px;
    font-size: 1em;
  }
}


