body{
    display: grid;
    grid-template-areas: 
    "h h h h "
    "n n n n"
    "ma ma ma ma"
    "m m m m"
    "f f f f"
    ;
    grid-template-columns: 250px 1fr 1fr 1fr;
}

h1{
    margin: 10px;
}

.menuAvanzado{
    grid-area: ma;
    height: 450px;
    background-color: rgb(255, 195, 0);  
}

.menuAvanzado > p{
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

main{
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(245, 245, 245);
}

.nombrePagina{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
      font-family: "Zen Dots";

    font-size: 30px;
    text-align: center;
}

.menuRapido{
    grid-column: 1 / 5;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menuRapido  img{
    width: 200px;
    background-color: rgb(235, 235, 235);
    border:solid rgb(149, 149, 149) 3px;
    border-radius: 10px;
    margin: 10px;
}
.menuRapido > img:hover{
    background-color: rgb(185, 181, 181);
    border:solid rgb(78, 78, 78) 3px;
    transform: scale(1.2);
    transition: 0.2s;
}


.catalogo{
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 12px;
}

.producto{
    width: 400px;
    height: 170px;
    background-color: rgb(235, 235, 235);
    border:solid rgb(149, 149, 149) 1px;
    margin: 10px;
}
.producto  img{
    width: 40px;
    height: 100px;
    margin: 1px 0px 0px 180px;
}



.productoCompleto{
    width: 1000px;
    height: 400px;
    background-color: rgb(235, 235, 235);
    border:solid rgb(149, 149, 149) 1px;
    margin: 10px;
}

.productoCompleto img{
    width: 200px;
    height: 300px;
    margin: 1px 0px 0px 180px;
}

.boton1{
    background-color: rgb(255, 195, 0);
    border:solid rgb(149, 149, 149) 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
.boton1:hover{
    transform: scale(1.2);
    transition: 0.2s;
}